<!DOCTYPE html>
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hx="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp</title>
</head>
<body>
    <th:block th:fragment="row">
        <tr hx-target="this" hx-swap="outerHTML">
            <td>
                <p class="text-center text-xs font-weight-bold mb-0" th:text="${user.name}">name</p>
            </td>
            <td>
                <p class="text-center text-xs font-weight-bold mb-0" th:text="${user.email}">email</p>
            </td>
            <td class="align-middle">
                <button class="btn btn-secondary me-1 font-weight-bold text-xs" data-toggle="tooltip"
                        hx:get="@{/user/} + ${user.id} + '/edit'" data-original-title="Edit user">
                    Edit
                </button>
                <button class="btn btn-danger ms-1 font-weight-bold text-xs" data-toggle="tooltip"
                        hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s" hx-trigger="click"
                        hx:delete="@{/delete/} + ${user.id}" data-original-title="Edit user">
                    Delete
                </button>
            </td>
        </tr>
    </th:block>

    <th:block th:fragment="editForm">
        <tr hx:target="this" hx-swap="outerHTML">
            <td colspan="3">
                <form hx:put="@{/user/} + ${user.id} + '/edit'" class="row g-1">
                    <input type="hidden" th:value="${user.id}">
                    <div class="col-auto">
                        <input type="text" name="name" class="form-control bg-transparent"
                               placeholder="Name" th:value="${user.name}">
                    </div>
                    <div class="col-auto">
                        <input type="email" name="email" class="form-control bg-transparent"
                               placeholder="Email Address" th:value="${user.email}">
                    </div>
                    <div class="col-auto">
                        <button class="btn">Submit</button>
                        <button class="btn" hx:get="@{/user/} + ${user.id}">Cancel</button>
                    </div>
                </form>
            </td>
        </tr>
    </th:block>

</body>
</html>